{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
  <title>Microfeed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="all" />


  <script src="{% static 'js/microfeed/microfeed.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/microfeed/microfeed.css' %}">

</head>
<body>

{% include 'core/navbar.html' %}




<div id="content" class="container" style="min-height:75vh;">{% block content %}{% endblock %}</div>


<footer>
    <img alt="test image" src="{% static 'img/uc.png' %}" width=50 height=50 />
</footer>

</body>
</html>