{% extends 'core/base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
	<ul class="breadcrumb">
	  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
	  <li class="active">{{page_title}}</li>
	</ul>
	<h1>{{page_title}}</h1>
			<hr>
	<div class="row">
		
		<div class="col-sm-9">
			
			{% for oPage in qPage %}
				<div class="well">
					<h2><a href="{% url 'pages:page' oPage.id %}">{{oPage.title}}</a></h2>
					{% if oPage.teaser %}
						<hr>
						{{oPage.teaser|safe}}
					{% endif %}
					<div style="text-align:right;">
						<a href="{% url 'pages:page' oPage.id %}">{% trans 'more...' %}</a>
					</div>
				</div>
			{% empty %}
				<em>{% trans 'No items have been added yet.' %}</em>
			{% endfor %}
		</div>
		<div class="col-sm-3">
			{% include 'snippets/page_browser.html' %}
		</div>
	</div>

	
	


{% endblock %}