{% extends 'core/base.html' %}
{% load staticfiles %}


{% block content %}
	<div class="row">
		<div class="col-sm-3" style="padding-top:75px;">
			{% include 'snippets/page_browser.html' %}
		</div>
		<div class="col-sm-6">
			<h1>{{page_title}}</h1>
			<hr>
			{% for oPage in qPage %}
				<div class="well">
					<h2><a href="{% url 'pages:page' oPage.id %}">{{oPage.title}}</a></h2>
					{% if oPage.teaser %}
						<hr>
						{{oPage.teaser|safe}}
					{% endif %}
					<div style="text-align:right;">
						<a href="{% url 'pages:page' oPage.id %}">more...</button>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	
	


{% endblock %}