{% extends 'core/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

	<ul class="breadcrumb">
	  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
	  <li><a href="{% url 'pages:list' oPage.category %}">{% trans oPage.category %}</a></li>
	  <li class="active">{{oPage.trans_title}}</li>
	</ul>
	{% if oPage.has_translation and user.is_staff %}
		<div class="alert alert-warning">
			<h4>Viewing {{ verbose_language }} translation</h4>
		</div>
	{% endif %}
	<div style="float:right">
			{% if user.is_staff %}
				
				{% if oPage.has_translation %}
					<a href="{% url 'pages:translate_page' oPage.id %}" class="btn btn-primary">
						<i class="fa fa-globe" aria-hidden="true"></i> 
						{% trans 'Edit This Translation' %}
					</a>
					<a href="{% url 'pages:edit_page' oPage.id %}" class="btn btn-primary">
						<i class="fa fa-pencil" aria-hidden="true"></i> 
						{% trans 'Edit Original' %}
					</a>
				{% else %}
					<a href="{% url 'pages:edit_page' oPage.id %}" class="btn btn-primary">
						<i class="fa fa-pencil" aria-hidden="true"></i> 
						{% trans 'Edit Page' %}
					</a>
					<a href="{% url 'pages:translate_page' oPage.id %}" class="btn btn-primary">
						<i class="fa fa-globe" aria-hidden="true"></i> 
						{% trans 'Translate to ' %}{{ verbose_language }}
					</a>
				{% endif %}
				<button class="btn btn-danger" data-toggle="modal" data-target="#delete-page-modal">
					<i class="fa fa-trash" aria-hidden="true"></i> 
					{% trans 'Delete Page' %}
				</button>
			{% endif %}
	</div>
	<h1>{{oPage.trans_title}}</h1>
	<hr>
	<div class="row">
		
		<div class="col-sm-6">
			{{oPage.trans_body|safe}}
		</div>
		<div class="col-sm-3">
			{% if oPage.pagelink_set.all %}
				<div class="well">
					<p>{% trans 'LINKS' %}</p>
					{% for oLink in oPage.pagelink_set.all %}
						<p><a href="{{oLink.url}}">{{oLink.title}}</a></p>
					{% endfor %}
				</div>
			{% endif %}
			{% if oPage.address %}
				<div class="well">
					<p>{% trans 'LOCATION' %}</p>
					<a target="_blank" href="http://maps.google.com/?q={{oPage.address}}">{{oPage.address}}</a>
				</div>
			{% endif %}
		</div>
		<div class="col-sm-3">
			{% include 'snippets/page_browser.html' %}
		</div>
	</div>




<div class="modal" id="delete-page-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  	<h4 class="modal-title">{% trans 'Delete Page' %}</h4>
			</div>
			<div class="modal-body">
			  	<p>{% trans 'Are you sure you want to permanently delete this page?' %}</p>
			</div>
			<div class="modal-footer">
			  	<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
			  	<form method="post" action="{% url 'pages:delete_page' %}">
			  		{% csrf_token %}
			  		<input type="hidden" name="page_id" value="{{oPage.id}}" />
			  		<button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
			  	</form>
			</div>
		</div>
	</div>
</div>



{% endblock %}