{% extends 'core/base.html' %}


{% block content %}

	
	

<script type="text/javascript">

	{% if user.is_authenticated %}
		mf.uid = {{user.id}};
	{% endif %}
	mf.subfolder = "";

</script>




<h1>Cincinnati Japan Forum Main Feed</h1>
<hr>
<div class="row">
	<div class="col-sm-3">
		{% include 'snippets/page_browser.html' %}
	</div>
	<div class="col-sm-7">
		{% if user.is_authenticated %}
			<div style="float:right;"><a href="{% url 'microfeed:new_event' %}" class="btn btn-primary">Post an Event</a></div>
		{% endif %}
		<div style="background-color:#95A5A6;display:inline-block; padding:10px 12px;">Messages</div>
		<div style="background-color:#95A5A6;padding:1px;">
			<div id="microfeed-container"></div>
		</div>
		
	</div>
</div>

<div id="microfeed-modals"></div>
<div id="microfeed-templates"></div>



	
	
	
	

	

{% endblock %}