{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}

	
	

<script type="text/javascript">

	{% if user.is_authenticated %}
		mf.uid = {{user.id}};
	{% endif %}
	mf.subfolder = "";

</script>


<h1>{% trans "Home" %}</h1>
<hr>
<div class="row">

	<div class="col-sm-7 col-sm-offset-1">
		{% if user.is_authenticated %}
			<div style="float:right;"><a href="{% url 'microfeed:new_event' %}" class="btn btn-primary">{% trans 'Post an Event' %}</a></div>
		{% endif %}
		<div style="background-color:#95A5A6;display:inline-block; padding:10px 12px;">{% trans 'Messages' %}</div>
		<div style="background-color:#95A5A6;padding:1px;">
			<div id="microfeed-container"></div>
		</div>
		
	</div>
	<div class="col-sm-3 col-sm-offset-1">
		{% include 'snippets/page_browser.html' %}
	</div>
</div>

{% include 'microfeed/snippets/javascript_templates.html' %}
<div id="microfeed-modals"></div>



	

	
	

	

{% endblock %}